backports.entry-points-selectable==1.1.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
coinbase==2.1.0
distlib==0.3.3
filelock==3.3.0
Flask==2.0.2
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
packaging==21.0
#pkg_resources==0.0.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.10.0
pycryptodome==3.11.0
pyparsing==2.4.7
python-dotenv==0.19.1
requests==2.26.0
six==1.16.0
toml==0.10.2
tox==3.24.4
typing-extensions==3.10.0.2
urllib3==1.26.7
virtualenv==20.8.1
Werkzeug==2.0.2
zipp==3.6.0
