{% block content %}
    <h1> Bitcoin Price </h1>
    <tr>
	    <td> Exchange 1 Buying Price {{data.0}}</td> <br>
	    <td> Exchange 1 Selling Price {{data.1}}</td> <br>
	    <td> Exhange 2 Buying Price {{data.2}}</td> <br>
	    <td> Exhange 2 Selling Price {{data.3}}</td> <br>
    </tr>
    <h1>  Ethereum Price </h1>
    <tr>
	    <td> Exchange 1 Buying Price {{data2.0}} </td> <br>
	    <td> Exchange 1 Selling Price {{data2.1}} </td> <br>
	    <td> Exchange 2 Buying Price {{data2.2}} </td> <br>
	    <td> Exchange 2 Selling Price {{data2.3}} </td> <br>
    </tr>
{% endblock %}
